*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#wrapper{
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    display: flex;
}
#wrapper div{
    border: 1px solid green;
}
#left-container{
    flex: 1;
}
#left-container img{
    width: 100%;
    height: 100%;
}
#left-text-container{
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}
#left-text-image{
    flex: 1;
}
#left-text{
    flex: 1;
    padding-top: 25%;
}
#right-container{
    display: flex;
    flex-direction: column;
    flex: 2;
}
#right-container-header{
    flex: 1;
}
#right-container-body{
    flex: 1;
}
#right-container-footer{
    flex: 1;
}